<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>안녕하세요</h1>
      <input type="text" v-model="name" />
      <h2>이름 : {{name}}</h2>
      <hr />
      <input type="text" v-model="age" />
      <h2>나이 : {{age}}</h2>
      <p v-bind:[att]="text">{{aboutMe}}</p>
      <p>{{age<40?'청년':'중년'}}</p>
      <button v-on:click="addAge">나이 증가</button>
      <a href="" v-on:click.prevent="addAge">나이 증가</a>

      <hr />
      <p v-html="content"></p>
      <button :disabled="isDis">버튼</button>

      <p v-bind="attObj">여러개의 속성</p>
      <p v-once>{{age}}</p>
    </div>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            name: "meme",
            att: "title",
            age: 35,
            text: "오늘은 흐린 날씨입니다",
            content: "<strong>test</strong>",
            isDis: true,
            attObj: {
              id: "meme",
              class: "memeclass",
              style: "color:red",
            },
          };
        },
        computed: {
          // computed : 처리한 데이터를 반환하고 싶을 때
          aboutMe() {
            return `i'm ${this.name} my age is ${this.age}`;
          },
        },
        methods: {
          addAge() {
            this.age++;
          },
        },
        beforeCreated() {},
        created() {
          console.log("인스턴스 만들고 돔연결 직전");
        },
        mounted() {
          console.log("mounted");
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
